@media print
  {

	body {
		font-family: monospace;
		font-size:9px;
	}

	* {
		text-decoration: none !important;
		list-style: none outside none;
	}

	a:after{content:"" !important;}

	form,
	.new-rayon,
	.qtt0,
	.option-btn,
	.article-btn,
	.btn,
	#main-navbar{
		display:none !important;
	}

	.rayon > div {
		border:none !important;
	    border-top: 1px solid #000 !important;
	    border-radius: 0 !important;
	}

	.rayon > div > h3 {
		background: transparent;
		padding:0;
		margin:0;
		font-weight: normal;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.article:before {
		content:'☐';
		font-size: 20px;
		margin-right: -10px;
	}

	textarea {
		font-family: monospace;
		font-size:9px;
		padding:0 0 0 5px;
		line-height: 10px;
	}

	h3 {
	    line-height: 10px;
	    margin: 5px !important;
	}

	li {
	    line-height: 10px;
	}

	.articles-row {
		-ms-column-width:auto;
		-webkit-column-width:auto !important;
		-moz-column-width:auto;
		column-width:auto;

		-ms-column-count:4;
		-webkit-column-count:4 !important; /* arghhhh columns dont work in chrome for print */
		-moz-column-count:4;
		column-count:4;

		-ms-column-rule: none;
		-moz-column-rule: none;
	    -webkit-column-rule: none;
	    column-rule: none;

	    margin-bottom: 5px !important;

	}
}