* {
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

.container {
	/*background: #eef;
	margin-bottom: 5px;*/
	margin-bottom: 45px;
}

form {
    margin: 0;
}


.navbar-search input {
    width: 100%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    height: 30px;
}


.nav-progress .progress{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 15px;
    width: 80%;
}

.nav-progress h4{
    color: #F7F7F7;
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
}


.article {
	color: #000;
	font-size:1em;
	display: inline-block;
    width:100%;
    border-radius: 3px;

    -webkit-column-break-after: always;
    break-inside: avoid-column;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.article>*:not(textarea) {
    margin:4px 4px 4px 10px;
    }

body.check .article.checked {
     color:#7FBF7F;
    }

body.check .article.checked textarea {
    display:none;
}

.checkmark {
    line-height: 8px;
    color: #7D7D7D;
    }

.checkmark>span {
    color: #000000;
    font-size: 20px;
    margin-left: -12px;
    margin-right: -3px;
    position: relative;
    dislay: inline-block;
    top: 0;
    }

li.article.checked .checkmark>span {
    color: green;
    font-size: 30px;
    margin-left: -14px;
    margin-right: -9px;
    top: 1px;
    visibility: visible;
    }

body.check .rayon.checked > div > *:not(.checkmark) {
    opacity:0.25;
}

body.check .rayon.checked > div > h3 {
    margin-bottom:0;
}

body.check .rayon > div *:not(.checkmark) {
    transition: all ease 0.5s;
}

.rayon > div > .checkmark {
    color: green;
    font-size: 80px;
    position: absolute;
    right: -30px;
    top: 2px;
}

.rayon.checked > div > h3 .check-count {
    margin-right: 20px;
}

.article a.article-name{
    color:#000;
}

.article.qtt0 a.article-name{
	color:#888;
}



ul, ol {
    margin: 0;
}

li {list-style: none}

textarea {
	border-color: #FFFFFF #FFFFFF #FFFFFF #CCCCCC;
    border-radius: 0;
    border-style: solid solid solid dashed;
    border-width: 1px;
    box-shadow: none;
    font-size: 12px;
    font-style: italic;
    margin-left: 40px;
    overflow: auto;
    width: 216px;
    height: 20px;
    resize: vertical;
}
textarea:focus, textarea:hover { border-color: #ccc;}

ul.stock li {display:inline;font-size:0.75em;}

li.current {font-weight: bold}

div.liste>ul.sortable>li {
	margin-left:0;
}

.rayon {background: #fff}

.rayon > div {
	border: 1px solid #999999;
    margin: 10px 0;
    padding: 0 13px;
    display:block;
    position:relative;
    background: #fff;
}

.rayon > div > h3 {
    display: block;
    color: #fff;
    font-size: 1.3em;
    margin: 0 -13px 16px;
    padding: 0 13px;
    text-transform: capitalize;
    cursor:move;
}


.rayon > div > h3 .check-count {

}

.progress {
    height: 8px;
    transition: all ease 1s;
}
.rayon.checked .progress {
    height: 0px;
    margin-bottom: 15px;
    opacity:0 !important;
}

.articles-row {
	-webkit-column-width:250px;
	-moz-column-width:250px;
	column-width:250px;
	-moz-column-rule: 1px solid #ddd;
    -webkit-column-rule: 1px solid #ddd;
    column-rule: 1px solid #ddd;
	margin-left:0;
    margin-bottom: 12px;
}

.article .article-name { display:inline-block; color:/*width:50%;*/}
/*.article.qtt0  .article-name:hover { background: #eee;}*/

.article .article-btn {
    float:right;
}




.article .article-btn,
.article.qtt1:hover .article-btn,
.article.qtt1 .article-btn .info,
.article.qtt1 .article-btn .delete,
.article.checked .checkmark span,
.article:hover .checkmark span
 {
    visibility:visible;
}


body.edit .article .qtt,
.article.qtt0 .article-btn,
.article.qtt1 .article-btn,
.article.qtt0 .qtt,
.article.qtt1 .qtt,
.article .checkmark span
{
    visibility:hidden;
}

body.edit .article .checkmark,
body.check .rayon.qtt0,
body.check .article.qtt0,
body.check .article-btn {
    display:none;
}

.article:hover, .article:focus {
    background:#eee;
}




/* main progress */

.main-progress {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background: #fff;
}

.main-progress h2 {
    position: absolute;
    bottom: 30px;
    color: #dff1df ;
    margin-left: 10px;
    -moz-transition: left 0.6s ease;
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    }

.main-progress h2.left {
    bottom: auto;
    color: #FFFFFF;
    margin-right: 10px;
    text-align: right;
    top: 0;
    -moz-transition: right 0.6s ease;
    -webkit-transition: right 0.6s ease;
    transition: right 0.6s ease;
    }

.main-progress .bar{
    background: #dff1df ;
    height: 100%;
    -moz-transition: width  0.6s ease;
    -webkit-transition: width  0.6s ease;
    transition: width  0.6s ease;
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.1);
    }



/** lightbox **/

.lightbox {
	position: fixed;
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, 0.5);
	top:0;
	left:0;
}

.lightbox.off { display:none; }

.lightbox>div {
	margin: 50px auto;
	min-height:100px;
	width:400px;
	background: #fff;
	border:1px solid #999;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	padding: 0 16px;
}




/* organize */


.organize li {
    color: #FFFFFF;
    font-size: 1.25em;
    border: 1px solid #fff;
    padding: 4px 11px;
    margin-top:-1px;
    text-transform: capitalize;
    cursor: move;
}

.organize li.ui-sortable-helper,
li.ui-sortable-helper .rayon
 {
	margin-left:10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.ui-sortable-placeholder {
	min-height: 40px;
}

.option-btn {
    position: absolute;
    right: 12px;
    top: 10px;
}


body.check .not-in-check {
	display:none !important;
}

/* colors */



.color-picker > a {
	border: 1px solid #FFFFFF;
    height: 8px;
    margin: 4px 1px;
    padding: 0;
    width: 8px;
}

.color-picker > a:hover,
.color-picker > a:focus {
	height: 14px;
    margin: 1px -2px;
    width: 14px;
}

.color-picker > a.selected,
.color-picker > a.selected:hover,
.color-picker > a.selected:focus {
    visibility: hidden;
}


 .c0,.c0:hover,.c0:focus{background-color:#1f77b4 !important; background-image:none !important;}
 .c1,.c1:hover,.c1:focus{background-color:#ff7f0e !important; background-image:none !important}
 .c2,.c2:hover,.c2:focus{background-color:#2ca02c !important; background-image:none !important}
 .c3,.c3:hover,.c3:focus{background-color:#d62728 !important; background-image:none !important}
 .c4,.c4:hover,.c4:focus{background-color:#9467bd !important; background-image:none !important}
 .c5,.c5:hover,.c5:focus{background-color:#8c564b !important; background-image:none !important}
 .c6,.c6:hover,.c6:focus{background-color:#e377c2 !important; background-image:none !important}
 .c7,.c7:hover,.c7:focus{background-color:#7f7f7f !important; background-image:none !important}
 .c8,.c8:hover,.c8:focus{background-color:#bcbd22 !important; background-image:none !important}
 .c9,.c9:hover,.c9:focus{background-color:#17becf !important; background-image:none !important}


 /* On/Off FlipSwitch */

.nav label.toggle {
    width: 200px;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 75px;
    height: 24px;
}

.nav .toggle .slide-button {
    margin-top:0;
}


.nav .toggle label, .nav .toggle p, .nav .switch label {
    line-height: 24px;
}

.nav .toggle p {
    left: -50px;
    color: #F7F7F7;
}

.toggle p span {
    margin-left: 50px;
    color: #333333;
}



.btn-mini {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 11.5px;
    font-weight: bold;
    height: 13px;
    line-height: 13px;
    padding: 0;
    width: 14px;
}